openapi: 3.0.0
info:
  contact:
    email: info@brockmann-consult.de
  description: Restful API for handling xcube Services
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: xcube Generator API
  version: 2.1.0.dev2
servers:
  - url: https://xcube-gen.brockmann-consult.de/api/v2
  - url: https://stage.xcube-gen.brockmann-consult.de/api/v2
  - url: https://xcube-geodb.brockmann-consult.de/api/v2
  - url: https://stage.xcube-geodb.brockmann-consult.de/api/v2
  - url: https://cate.climate.esa.int/api/v2
  - url: https://stage.cate.climate.esa.int/api/v2
tags:
  - name: cubegens
  - name: callbacks
  - name: oauth
  - name: services
  - name: webapis
paths:
  /:
    get:
      description: Get service info
      operationId: get_service_info
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServiceInformationResponse'
          description: service information
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: api error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: service not found
      summary: get service info
      x-openapi-router-controller: xcube_hub.controllers.default
  /webapis:
    get:
      description:
        Get running webapis
      operationId: get_webapis
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiWebapisResponse'
          description: Create a webapi
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Service not found
      #      security:
      #        - oAuthorization:
      #            - manage:webapis
      summary: Create a cate service instance
      tags:
        - webapis
      x-openapi-router-controller: xcube_hub.controllers.webapis
  /users/{user_id}/webapis:
    get:
      description: |
        Get webapi information
      operationId: get_user_webapi
      parameters:
        - description: User ID
          explode: false
          in: path
          name: user_id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Create a cubegen
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Service not found
#      security:
#        - oAuthorization:
#            - manage:users
      summary: Create a cate service instance
      tags:
        - users
      x-openapi-router-controller: xcube_hub.controllers.users
    post:
      description: |
        Create a webapi
      operationId: put_user_webapi
      parameters:
        - description: User ID
          explode: false
          in: path
          name: user_id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Create a webapi
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Too many webapis running
#      security:
#        - oAuthorization:
#            - manage:users
      summary: Create a cate service instance
      tags:
        - users
      x-openapi-router-controller: xcube_hub.controllers.users
    delete:
      description: |
        Delete a webapi
      operationId: delete_user_webapi
      parameters:
        - description: User ID
          explode: false
          in: path
          name: user_id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: Create a cubegen
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Service not found
#      security:
#        - oAuthorization:
#            - manage:users
      summary: Create a webapi instance
      tags:
        - users
      x-openapi-router-controller: xcube_hub.controllers.users
  /services:
    get:
      description: |
        get a list of services. Currently, a service can be either of
        - xcube_gen
        - xcube_geodb
        - xcube_geoserv
      operationId: get_services
      responses:
        "200":
          description: Get a list of services
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServicesResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Application not found
      summary: Manage services
      tags:
        - services
      x-openapi-router-controller: xcube_hub.controllers.services
  /services/{service_id}/subscriptions:
    put:
      description: |
        Register a subscription to a service. A service can either of be
        - xcube_gen
        - xcube_geodb
        - xcube_geoserv
      operationId: put_subscription_to_service
      parameters:
        - description: Service ID
          explode: false
          in: path
          name: service_id
          required: true
          schema:
            type: string
            enum:
              - xcube_gen
              - xcube_geodb
              - xcube_geoserv
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscription'
      responses:
        "200":
          description: Register a subscription to a service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSubscriptionResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Subscripion not found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Subscription exists
      security:
        - oAuthorization:
            - read:users
            - create:users
      summary: Manage subscriptions for serices
      tags:
        - services
      x-openapi-router-controller: xcube_hub.controllers.services
  /services/{service_id}/subscriptions/{subscription_id}:
    get:
      description: |
        Get info about a subscription of a service. A service can either of be
        - xcube_gen
        - xcube_geodb
        - xcube_geoserv
      operationId: get_subscription_from_service
      parameters:
        - description: Service ID
          explode: false
          in: path
          name: service_id
          required: true
          schema:
            type: string
            enum:
              - xcube_gen
              - xcube_geodb
              - xcube_geoserv
          style: simple
        - description: Subscription ID
          explode: false
          in: path
          name: subscription_id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          description: User to an application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSubscriptionResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Application not found
      security:
        - oAuthorization:
            - read:users
            - create:users
      summary: Manage subscriptions
      tags:
        - services
      x-openapi-router-controller: xcube_hub.controllers.services
    delete:
      description: |
        Delete a subscription from a service.  A service can either of be
        - xcube_gen
        - xcube_geodb
        - xcube_geoserv
      operationId: delete_subscription_from_service
      parameters:
        - description: Application ID
          explode: false
          in: path
          name: service_id
          required: true
          schema:
            type: string
            enum:
              - xcube_gen
              - xcube_geodb
              - xcube_geoserv
          style: simple
        - description: User ID
          explode: false
          in: path
          name: subscription_id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          description: Subscription removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSubscriptionResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Service not found
      security:
        - oAuthorization:
            - read:users
            - create:users
      summary: Delete a subscription from a service
      tags:
        - services
      x-openapi-router-controller: xcube_hub.controllers.services
  /cubegens:
    delete:
      description: |
        Delete all cubegens
      operationId: delete_cubegens
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: User not found
      security:
        - oAuthorization:
            - manage:cubegens
      summary: Delete all cubegens
      tags:
        - cubegens
      x-openapi-router-controller: xcube_hub.controllers.cubegens
    get:
      description: |
        List user cubegens
      operationId: get_cubegens
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCubegensResponse'
          description: List cubegens
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: User not found
      security:
        - oAuthorization:
            - manage:cubegens
      summary: List cubegens
      tags:
        - cubegens
      x-openapi-router-controller: xcube_hub.controllers.cubegens
    put:
      description: |
        Create a jcubegen
      operationId: create_cubegen
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CubeGeneratorRequest'
        description: Cubegen configuration
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCubegenResponse'
          description: Create a cubegen
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: User not found
      security:
        - oAuthorization:
            - manage:cubegens
      summary: Create a cubegen
      tags:
        - cubegens
      x-openapi-router-controller: xcube_hub.controllers.cubegens
  /cubegens/code:
    put:
      description: |
        Create a cubegen passing user code and cube config as json and zip file
      operationId: create_cubegen_code
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                user_code:
                  type: string
                  format: binary
                body:
                  type: string
            encoding:
              user_code:
                contentType: application/zip
              body:
                contentType: application/json
        description: Cubegen configuration
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCubegenResponse'
          description: Create a cubegen
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: User not found
      security:
        - oAuthorization:
            - manage:cubegens
      summary: Create a cubegen
      tags:
        - cubegens
      x-openapi-router-controller: xcube_hub.controllers.cubegens
  /cubegens/info:
    post:
      description: |
        Receive cost information of using a service
      operationId: get_cubegen_info
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostConfig'
        description: Cost configuration
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCubegenInfoResponse'
          description: costs for using the service
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: api error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: no cost information found
      security:
        - oAuthorization:
            - manage:cubegens
      summary: Receive cost information for runnning a cubegen
      tags:
        - cubegens
      x-openapi-router-controller: xcube_hub.controllers.cubegens
  /cubegens/{cubegen_id}:
    delete:
      description: |
        Delete a cubegen
      operationId: delete_cubegen
      parameters:
        - description: Cubegen ID
          explode: false
          in: path
          name: cubegen_id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCubegenResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: User not found
      security:
        - oAuthorization:
            - manage:cubegens
      summary: Delete a cubegen
      tags:
        - cubegens
      x-openapi-router-controller: xcube_hub.controllers.cubegens
    get:
      description: |
        List specific cubegen
      operationId: get_cubegen
      parameters:
        - description: Cubegen ID
          explode: false
          in: path
          name: cubegen_id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCubegenResponse'
          description: User cubegen information
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: User not found
      security:
        - oAuthorization:
            - manage:cubegens
      summary: List specific cubegen
      tags:
        - cubegens
      x-openapi-router-controller: xcube_hub.controllers.cubegens
  /cubegens/{cubegen_id}/callbacks:
    put:
      description: Add a callbacks for a cubegen
      operationId: put_callback_by_cubegen_id
      parameters:
        - description: Cubegen ID
          explode: false
          in: path
          name: cubegen_id
          required: true
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Callback'
        description: Callbacks
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCallbackResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: User not found
      security:
        - oAuthorization:
            - manage:cubegens
      summary: Add a callback for a cubegen
      tags:
        - callbacks
      x-openapi-router-controller: xcube_hub.controllers.callbacks
  /services/xcube_geoserv/collections:
    get:
      description: Manage GeoDB Collections
      operationId: get_all_collections
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCollectionResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Client ID not found
      summary: Get authorization token
      security:
        - oAuthorization:
            - manage:collections
      tags:
        - geoservice
      x-openapi-router-controller: xcube_hub.controllers.geoservice
  /services/xcube_geoserv/databases/{database_id}/collections:
    get:
      description: Manage GeoDB Collections
      operationId: get_collections
      parameters:
        - description: Database ID
          explode: false
          in: path
          name: database_id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCollectionResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Client ID not found
      summary: Get authorization token
      security:
        - oAuthorization:
            - manage:collections
      tags:
        - geoservice
      x-openapi-router-controller: xcube_hub.controllers.geoservice
    put:
      description: Manage GeoDB Collections
      operationId: put_collection
      parameters:
        - description: Database ID
          explode: false
          in: path
          name: database_id
          required: true
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                collection_id:
                  type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCollectionResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Client ID not found
      summary: Get authorization token
      security:
        - oAuthorization:
            - manage:collections
      tags:
        - geoservice
      x-openapi-router-controller: xcube_hub.controllers.geoservice
  /services/xcube_geoserv/databases/{database_id}/collections/{collection_id}:
    get:
      description: Manage GeoDB Collections
      operationId: get_collection
      parameters:
        - description: Database ID
          explode: false
          in: path
          name: database_id
          required: true
          schema:
            type: string
          style: simple
        - description: Collection ID
          explode: false
          in: path
          name: collection_id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCollectionResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Client ID not found
      summary: Get authorization token
      security:
        - oAuthorization:
            - manage:collections
      tags:
        - geoservice
      x-openapi-router-controller: xcube_hub.controllers.geoservice
    delete:
      description: Manage GeoDB Collections
      operationId: delete_collection
      parameters:
        - description: Database ID
          explode: false
          in: path
          name: database_id
          required: true
          schema:
            type: string
          style: simple
        - description: Collection ID
          explode: false
          in: path
          name: collection_id
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCollectionResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Client ID not found
      summary: Get authorization token
      security:
        - oAuthorization:
            - manage:collections
      tags:
        - geoservice
      x-openapi-router-controller: xcube_hub.controllers.geoservice
  /oauth/token:
    post:
      description: Get authorization token
      operationId: oauth_token_post
      requestBody:
        content:
          application/json:
            #          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OauthToken'
        description: OauthToken
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiOauthResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Client ID not found
      summary: Get authorization token
      tags:
        - oauth
      x-openapi-router-controller: xcube_hub.controllers.oauth
components:
  schemas:
    ApiResponse:
      type: object
    ApiErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          required:
            - traceback
          properties:
            traceback:
              type: string
            result:
              oneOf:
                - $ref: '#/components/schemas/CubeGenResult'
                - $ref: '#/components/schemas/CubeGenInfoResult'
    ApiSubscriptionResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/Subscription'
    ApiWebapisResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            running_pods:
              type: integer
    ApiServicesResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: array
          items:
            $ref: '#/components/schemas/Service'
    CubeGenResult:
      additionalProperties: true
      properties:
        message:
          type: string
        output:
          items:
            type: string
          type: array
        result:
          additionalProperties: false
          properties:
            data_id:
              minLength: 1
              type: string
          required:
            - data_id
          type: object
        status:
          enum:
            - ok
            - error
            - warning
          type: string
        status_code:
          type: integer
      required:
        - status
      type: object
    CubeGenInfoResult:
      additionalProperties: true
      required:
        - status
      type: object
      properties:
        message:
          type: string
        output:
          items:
            type: string
          type: array
        result:
          additionalProperties: true
          properties:
            cost_estimation:
              additionalProperties: false
              properties:
                available:
                  minimum: 0
                  type: integer
                limit:
                  minimum: 0
                  type: integer
                required:
                  minimum: 0
                  type: integer
              required:
                - required
              type: object
            dataset_descriptor:
              type: object
              additionalProperties: false
              properties:
                attrs:
                  additionalProperties: true
                  type: object
                bbox:
                  items:
                    - type: number
                    - type: number
                    - type: number
                    - type: number
                  type: array
                coords:
                  additionalProperties:
                    additionalProperties: false
                    properties:
                      attrs:
                        additionalProperties: true
                        type: object
                      chunks:
                        items:
                          minimum: 0
                          type: integer
                        type: array
                      dims:
                        items:
                          minLength: 1
                          type: string
                        type: array
                      dtype:
                        minLength: 1
                        type: string
                      name:
                        minLength: 1
                        type: string
                    required:
                      - dtype
                      - name
                      - dims
                    type: object
                  type: object
                crs:
                  minLength: 1
                  type: string
                data_id:
                  minLength: 1
                  type: string
                data_type:
                  minLength: 1
                  type: string
                data_vars:
                  additionalProperties:
                    additionalProperties: false
                    properties:
                      attrs:
                        additionalProperties: true
                        type: object
                      chunks:
                        items:
                          minimum: 0
                          type: integer
                        type: array
                      dims:
                        items:
                          minLength: 1
                          type: string
                        type: array
                      dtype:
                        minLength: 1
                        type: string
                      name:
                        minLength: 1
                        type: string
                    required:
                      - dtype
                      - name
                      - dims
                    type: object
                  type: object
                dims:
                  additionalProperties:
                    minimum: 0
                    type: integer
                  type: object
                open_params_schema:
                  additionalProperties: true
                  type: object
                spatial_res:
                  minimum: 0.0
                  exclusiveMinimum: true
                  type: number
                time_period:
                  minLength: 1
                  type: string
                time_range:
                  items:
                    - format: date
                      type: string
                      nullable: true
                    - format: date
                      type: string
                      nullable: true
                  type: array
                  nullable: true
              required:
                - data_id
                - data_type
            size_estimation:
              additionalProperties: true
              type: object
          required:
            - cost_estimation
            - size_estimation
            - dataset_descriptor
          type: object
        status:
          enum:
            - ok
            - error
            - warning
          type: string
        status_code:
          type: integer
    ApiCubegenResponse:
      type: object
      required:
        - job_id
      properties:
        job_id:
          type: string
        job_result:
          $ref: '#/components/schemas/CubeGenResult'
        job_status:
          $ref: '#/components/schemas/JobStatus'
    ApiCubegensResponse:
      type: array
      items:
        $ref: '#/components/schemas/ApiCubegenResponse'
    ApiCubegenInfoResponse:
      $ref: '#/components/schemas/CubeGenInfoResult'
    ApiServiceInformationResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/ServiceInformation'
    ApiCallbackResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/Callback'
    ApiCollectionResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/Collection'
    ApiOauthResponse:
      example:
        access_token: access_token
        token_type: token_type
      properties:
        access_token:
          type: string
        token_type:
          type: string
      required:
        - access_token
        - token_type
      type: object
    ServiceInformation:
      properties:
        name:
          type: string
        description:
          type: string
        version:
          type: string
        serverStartTime:
          format: date-time
          type: string
        serverCurrentTime:
          format: date-time
          type: string
        serverPID:
          type: integer
        chartVersion:
          type: string
        mockServices:
          type: string
        runLocal:
          type: boolean
      type: object
    CostConfig:
      allOf:
        - $ref: '#/components/schemas/CubeGeneratorRequest'
    CubeGeneratorRequest:
      type: object
      required:
        - cube_config
        - output_config
      properties:
        callback_config:
          $ref: '#/components/schemas/CubeGenCallbackConfig'
        cube_config:
          $ref: '#/components/schemas/CubeGenCubeConfig'
        input_config:
          $ref: '#/components/schemas/CubeGenInputConfig'
        code_config:
          $ref: '#/components/schemas/CubeGenCodeConfig'
        input_configs:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/CubeGenInputConfig'
        output_config:
            $ref: '#/components/schemas/CubeGenOutputConfig'
    CubeGenCubeConfig:
      type: object
      additionalProperties: false
      properties:
        bbox:
          items:
            - type: number
            - type: number
            - type: number
            - type: number
          type: array
          nullable: true
        chunks:
          additionalProperties:
            minimum: 1
            type: integer
            nullable: true
          type: object
          nullable: true
        crs:
          minLength: 1
          type: string
          nullable: true
        metadata:
          additionalProperties: true
          type: object
          nullable: true
        spatial_res:
          minimum: 0.0
          exclusiveMinimum: true
          type: number
          nullable: true
        tile_size:
          items:
            - maximum: 2500
              minimum: 1
              type: integer
            - maximum: 2500
              minimum: 1
              type: integer
          type: array
          nullable: true
        time_period:
          pattern: ^([1-9][0-9]*)?[DWMY]$
          type: string
          nullable: true
        time_range:
          items:
            - format: date
              type: string
              nullable: true
            - format: date
              type: string
              nullable: true
          type: array
          nullable: true
#        variable_metadata:
#          additionalProperties:
#            additionalProperties: true
#            type: object
#          type: object
#          nullable: true
        variable_names:
          items:
            minLength: 1
            type: string
          minItems: 0
          type: array
          nullable: true
    CubeGenCodeConfig:
      type: object
      properties:
        callable_params:
          additionalProperties: true
          type: object
        callable_ref:
          minLength: 1
          type: string
        file_set:
          required:
            - path
          type: object
          properties:
            excludes:
              items:
                minLength: 1
                type: string
              type: array
            includes:
              type: array
              items:
                minLength: 1
                type: string
            path:
              minLength: 1
              type: string
            storage_params:
              additionalProperties: true
              type: object
            sub_path:
              minLength: 1
              type: string
        inline_code:
          minLength: 1
          type: string
        install_required:
          type: boolean
    CubeGenCallbackConfig:
        type: object
        required:
          - access_token
          - api_uri
        properties:
          access_token:
            minLength: 1
            type: string
          api_uri:
            minLength: 1
            type: string
    CubeGenInputConfig:
      additionalProperties: false
      properties:
        data_id:
          minLength: 1
          type: string
        open_params:
          additionalProperties: true
          type: object
          nullable: true
        opener_id:
          minLength: 1
          type: string
        store_id:
          minLength: 1
          type: string
        store_params:
          additionalProperties: true
          type: object
          nullable: true
      required:
        - data_id
      type: object
    CubeGenOutputConfig:
      additionalProperties: false
      properties:
        data_id:
          default: null
          type: string
        replace:
          default: false
          type: boolean
        store_id:
          minLength: 1
          type: string
        store_params:
          additionalProperties: true
          type: object
          nullable: true
        write_params:
          additionalProperties: true
          type: object
          nullable: true
        writer_id:
          minLength: 1
          type: string
      type: object
    Callback:
      required:
        - state
        - sender
      type: object
      properties:
        state:
          type: object
          properties:
            label:
              type: string
            total_work:
              type: number
            error:
              oneOf:
                - type: string
                - type: boolean
            progress:
              type: number
            elapsed:
              type: number
        sender:
          type: string
    JobStatus:
      type: object
      required:
        - active
        - completion_time
        - failed
        - start_time
        - succeeded
      properties:
        active:
          oneOf:
            - type: integer
            - type: boolean
          nullable: true
        start_time:
          format: date-time
          type: string
        failed:
          oneOf:
            - type: integer
            - type: boolean
          nullable: true
        succeeded:
          oneOf:
            - type: integer
            - type: boolean
          nullable: true
        completion_time:
          format: date-time
          type: string
        progress:
          $ref: '#/components/schemas/Callback'
    Collection:
      properties:
        collection_id:
          type: string
        name:
          type: string
        database:
          type: string
        href:
          type: string
          format: uri
        defaultStyle:
          type: string
          format: uri
        wmsUri:
          type: string
          format: uri
    OauthToken:
      example:
        audience: audience
        grant_type: grant_type
        client_secret: client_secret
        client_id: client_id
      properties:
        client_id:
          type: string
        client_secret:
          type: string
        audience:
          type: string
        grant_type:
          type: string
      required:
        - audience
        - client_id
        - client_secret
      type: object
    Service:
      type: object
      required:
        - name
        - status
        - message
      properties:
        name:
          type: string
        status:
          type: string
          default: "Ready"
          enum:
            - "Ready"
            - "Suspended"
            - "Error"
        message:
          type: string
          default: "Service OK"
    Subscription:
      type: object
      required:
        - email
        - guid
      properties:
        subscription_id:
          type: string
          format: uuid
        plan:
          type: string
          default: "free"
        email:
          type: string
          format: email
        guid:
          type: string
          format: uuid
        client_id:
          type: string
        client_secret:
          type: string
          format: password
        start_date:
          type: string
          format: 'date'
        units:
          type: number
          format: double
          default: 0.0
        unit:
          type: string
          enum:
            - 'punits'
            - 'cells'
            - 'n/a'
          default: 'punits'
  securitySchemes:
    oAuthorization:
      description: This API uses Oauth 2 with the implicit grant flow.
      flows:
        clientCredentials:
          scopes:
            manage_cubegens: Read cubegen status and result
          tokenUrl: https://xcube-users.brockmann-consult.de/auth/realms/xcube/protocol/openid-connect/token
      type: oauth2
      x-tokenInfoFunc: xcube_hub.controllers.authorization.check_oauthorization
      x-scopeValidateFunc: xcube_hub.controllers.authorization.validate_scope_oauthorization