openapi: 3.0.0
info:
  contact:
    email: info@brockmann-consult.de
  description: Restful API for handling xcube Services
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: xcube Generator API
  version: 2.0.0
servers:
- url: https://xcube-gen.brockmann-consult.de/api/v2
- url: https://stage.xcube-gen.brockmann-consult.de/api/v2
tags:
- name: users
- name: cubegens
- name: callbacks
- name: oauth
paths:
  /:
    get:
      description: Get service info
      operationId: get_service_info
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServiceInformationResponse'
          description: service information
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: api error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: service not found
      summary: get service info
      x-openapi-router-controller: xcube_hub.controllers.default
  /cubegens:
    delete:
      description: |
        Delete all cubegens
      operationId: delete_cubegens
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: User not found
      security:
      - oAuthorization:
        - manage:cubegens
      summary: Delete all cubegens
      tags:
      - cubegens
      x-openapi-router-controller: xcube_hub.controllers.cubegens
    get:
      description: |
        List user cubegens
      operationId: get_cubegens
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCubegensResponse'
          description: List cubegens
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: User not found
      security:
      - oAuthorization:
        - manage:cubegens
      summary: List cubegens
      tags:
      - cubegens
      x-openapi-router-controller: xcube_hub.controllers.cubegens
    put:
      description: |
        Create a jcubegen
      operationId: create_cubegen
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CubegenConfig'
        description: Cubegen configuration
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCubegenResponse'
          description: Create a cubegen
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: User not found
      security:
      - oAuthorization:
        - manage:cubegens
      summary: Create a cubegen
      tags:
      - cubegens
      x-openapi-router-controller: xcube_hub.controllers.cubegens
  /cubegens/info:
    post:
      description: |
        Receive cost information of using a service
      operationId: get_info
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostConfig'
        description: Cost configuration
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCostResponse'
          description: costs for using the service
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: api error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: no cost information found
      security:
      - oAuthorization:
        - manage:cubegens
      summary: Receive cost information for runnning a cubegen
      tags:
      - cubegens
      x-openapi-router-controller: xcube_hub.controllers.cubegens
  /cubegens/{cubegen_id}:
    delete:
      description: |
        Delete a cubegen
      operationId: delete_cubegen
      parameters:
      - description: Cubegen ID
        explode: false
        in: path
        name: cubegen_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCubegenResponse'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: User not found
      security:
      - oAuthorization:
        - manage:cubegens
      summary: Delete a cubegen
      tags:
      - cubegens
      x-openapi-router-controller: xcube_hub.controllers.cubegens
    get:
      description: |
        List specific cubegen
      operationId: get_cubegen
      parameters:
      - description: Cubegen ID
        explode: false
        in: path
        name: cubegen_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCubegenResponse'
          description: User cubegen information
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: User not found
      security:
      - oAuthorization:
        - manage:cubegens
      summary: List specific cubegen
      tags:
      - cubegens
      x-openapi-router-controller: xcube_hub.controllers.cubegens
  /cubegens/{cubegen_id}/callbacks:
    put:
      description: Add a callbacks for a cubegen
      operationId: put_callback_by_cubegen_id
      parameters:
      - description: Cubegen ID
        explode: false
        in: path
        name: cubegen_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Callback'
        description: Callbacks
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCallbackResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: User not found
      security:
      - oAuthorization:
        - manage:cubegens
      summary: Add a callback for a cubegen
      tags:
      - callbacks
      x-openapi-router-controller: xcube_hub.controllers.callbacks
  /oauth/token:
    post:
      description: Get authorization token
      operationId: oauth_token_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OauthToken'
        description: OauthToken
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiOauthResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Client ID not found
      summary: Get authorization token
      tags:
      - oauth
      x-openapi-router-controller: xcube_hub.controllers.oauth
  /stores:
    get:
      description: Get stores
      operationId: get_stores
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStoresResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: Api Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: No stores found
      summary: Get stores
      tags:
        - stores
      x-openapi-router-controller: xcube_hub.controllers.stores
components:
  schemas:
    ApiResponse:
      properties:
        message:
          type: string
        output:
          type: object
      type: object
    ApiErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          required:
            - traceback
          properties:
            traceback:
              type: string
    ApiCubegenResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/CubegenStatus'
    ApiCostResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            result:
                $ref: '#/components/schemas/Cost'
    ApiCubegensResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            result:
              type: array
              items:
                $ref: '#/components/schemas/CubegenStatus'
    ApiServiceInformationResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/ServiceInformation'
    ApiCallbackResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            result:
              $ref: '#/components/schemas/Callback'
    ApiStoresResponse:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          required:
            - result
          properties:
            result:
              $ref: '#/components/schemas/Stores'
    ApiOauthResponse:
      example:
        access_token: access_token
        token_type: token_type
      properties:
        access_token:
          type: string
        token_type:
          type: string
      required:
      - access_token
      - token_type
      type: object
    ServiceInformation:
      properties:
        name:
          type: string
        description:
          type: string
        version:
          type: string
        serverStartTime:
          format: date-time
          type: string
        serverCurrentTime:
          format: date-time
          type: string
        serverPID:
          type: integer
        chartVersion:
          type: string
        mockServices:
          type: string
        runLocal:
          type: boolean
      type: object
    Stores:
      type: object
    CostConfig:
      allOf:
      - $ref: '#/components/schemas/CubegenConfig'
    Cost:
      type: object
      required:
        - punits
        - schema
      properties:
        punits:
          type: object
          required:
            - total_count
          properties:
            input_count:
              type: number
            input_weight:
              type: number
            output_count:
              type: number
            output_weight:
              type: number
            total_count:
              type: number
        schema:
          type: object
          properties:
            dims:
              type: object
              properties:
                lat:
                  type: number
                lon:
                  type: number
                time:
                  type: number
            image_size:
              type: array
              items:
                type: number
                minItems: 2
                maxItems: 2
            num_bytes:
              type: number
            num_requests:
              type: number
            num_tiles:
              type: array
              items:
                type: number
            num_variables:
              type: number
            tile_size:
              type: array
              items:
                type: number
                minItems: 2
                maxItems: 2
    CubegenConfig:
      example:
        output_config:
          store_id: store_id
          store_params: '{}'
        cube_config:
          spatial_res: 6.027456183070403
          crs: crs
          time_range:
          - 2000-01-23
          - 2000-01-23
          bbox:
          - 1.4658129805029452
          - 1.4658129805029452
          variable_names:
          - variable_names
          - variable_names
          time_period: time_period
        input_configs:
        - store_id: store_id
          data_id: data_id
          open_params:
            tile_size:
            - 0.8008281904610115
            - 0.8008281904610115
        - store_id: store_id
          data_id: data_id
          open_params:
            tile_size:
            - 0.8008281904610115
            - 0.8008281904610115
      properties:
        input_configs:
          items:
            $ref: '#/components/schemas/CubegenConfigInputConfig'
          type: array
        input_config:
          $ref: '#/components/schemas/CubegenConfigInputConfig'
        cube_config:
          $ref: '#/components/schemas/CubegenConfigCubeConfig'
        output_config:
          $ref: '#/components/schemas/CubegenConfigOutputConfig'
      required:
        - cube_config
        - output_config
      type: object
    Callback:
      example:
        worked: 6.027456183070403
        values: '{}'
        total_worked: 0.8008281904610115
        message: message
        state: status
      required:
        - state
        - sender
      type: object
      properties:
        state:
          type: object
          properties:
            label:
              type: string
            total_work:
              type: number
            error:
              oneOf:
                - type: string
                - type: boolean
            progress:
              type: number
            elapsed:
              type: number
        sender:
          type: string
    CubegenStatus:
      type: object
      required:
        - cubegen_id
        - status
      properties:
        cubegen_id:
          type: string
        progress:
          $ref: '#/components/schemas/Callback'
        status:
          type: object
          required:
            - active
            - completion_time
            - failed
            - start_time
            - succeeded
          properties:
            logs:
              items:
                type: string
              type: array
            active:
              oneOf:
                - type: integer
                - type: boolean
              nullable: true
            start_time:
              format: date-time
              type: string
            failed:
              oneOf:
                - type: integer
                - type: boolean
              nullable: true
            succeeded:
              oneOf:
                - type: integer
                - type: boolean
              nullable: true
            completion_time:
              format: date-time
              type: string
    OauthToken:
      example:
        audience: audience
        grant_type: grant_type
        client_secret: client_secret
        client_id: client_id
      properties:
        client_id:
          type: string
        client_secret:
          type: string
        audience:
          type: string
        grant_type:
          type: string
      required:
      - audience
      - client_id
      - client_secret
      - grant_type
      type: object
    CubegenConfigOpenParams:
      example:
        tile_size:
        - 0.8008281904610115
        - 0.8008281904610115
      properties:
        tile_size:
          items:
            type: number
          type: array
      type: object
    CubegenConfigInputConfig:
      example:
        store_id: store_id
        data_id: data_id
        open_params:
          tile_size:
            - 0.8008281904610115
            - 0.8008281904610115
      properties:
        store_id:
          type: string
        data_id:
          type: string
        open_params:
          $ref: '#/components/schemas/CubegenConfigOpenParams'
      required:
        - data_id
        - open_params
        - store_id
      type: object
    CubegenConfigCubeConfig:
      example:
        spatial_res: 6.027456183070403
        crs: crs
        time_range:
        - 2000-01-23
        - 2000-01-23
        bbox:
        - 1.4658129805029452
        - 1.4658129805029452
        variable_names:
        - variable_names
        - variable_names
        time_period: time_period
      properties:
        variable_names:
          items:
            type: string
          type: array
        crs:
          type: string
        spatial_res:
          type: number
        bbox:
          items:
            maxItems: 4
            minItems: 4
            type: number
          type: array
        time_range:
          items:
            format: date
            maxItems: 2
            minItems: 1
            type: string
          type: array
        time_period:
          type: string
      required:
      - bbox
      - crs
      - spatial_res
      - time_period
      - time_range
      - variable_names
      type: object
    CubegenConfigOutputConfig:
      example:
        store_id: store_id
        store_params: '{}'
      properties:
        store_id:
          type: string
        store_params:
          type: object
      required:
      - store_id
      - store_params
      type: object
  securitySchemes:
    oAuthorization:
      description: This API uses Oauth 2 with the implicit grant flow.
      flows:
        clientCredentials:
          scopes:
            read_cubegen: Read cubegen status and result
            read_punits: Allow reading the punits level of a user
            put_punits: Allow adding punits to and remove punits from a user
            read_callbacks: Allow reading callbacks
            put_callbacks: Allow reading callbacks
            delete_callbacks: Allow reading callbacks
          tokenUrl: https://edc.eu.auth0.com/oauth/token
        implicit:
          authorizationUrl: https://edc.eu.auth0.com/authorize
          scopes:
            read_cubegen: Read cubegen status and result
            submit_cubegen: Submit cubegens to the K8s cluster
            read_punits: Allow reading the punits level of a user
            read_callbacks: Allow reading callbacks
      type: oauth2
      x-tokenInfoFunc: xcube_hub.controllers.authorization.check_oauthorization
      x-scopeValidateFunc: xcube_hub.controllers.authorization.validate_scope_oauthorization
