openapi: 3.0.0
info:
  title: xcube Generation API
  description: Restful API for handling xcube Services
  contact:
    email: info@brockmann-consult.de
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 2.0.0
servers:
- url: https://xcube-gen.brockmann-consult.de/api/v2
- url: https://stage.xcube-gen.brockmann-consult.de/api/v2
- url: https://catehub.climate.esa.int/api/v2
- url: https://stage.catehub.climate.esa.int/api/v2
tags:
- name: users
- name: cubegens
- name: datastores
- name: callbacks
- name: oauth
paths:
  /:
    get:
      summary: get service info
      description: Get service info
      operationId: get_service_info
      responses:
        "200":
          description: service information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServiceInformationResponse'
        "400":
          description: api error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        "404":
          description: service not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      x-openapi-router-controller: xcube_hub.controllers.default
  /datastores:
    get:
      tags:
      - datastores
      summary: Get a list of datastores
      description: Get a list of datastores
      operationId: get_data_stores
      responses:
        "200":
          description: Datastore list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDatastoresResponse'
        "400":
          description: Api Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        "404":
          description: No datastores found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - oAuthorization:
        - read:datastores
      x-openapi-router-controller: xcube_hub.controllers.datastores
  /datastores/{datastore_id}:
    get:
      tags:
      - datastores
      summary: Get a datastore
      description: Get info of a datastore
      operationId: get_data_store_by_datastore_id
      parameters:
      - name: datastore_id
        in: path
        description: Datastore ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Datastore list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDatastoresResponse'
        "400":
          description: Api Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        "404":
          description: No datastores found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - oAuthorization:
        - read:datastores
      x-openapi-router-controller: xcube_hub.controllers.datastores
  /cubegens/costs:
    post:
      tags:
      - cubegens
      summary: Receive cost information for runnning a cubegen
      description: |
        Receive cost information of using a service
      operationId: get_costs
      requestBody:
        description: Cost configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostConfig'
        required: true
      responses:
        "200":
          description: costs for using the service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServiceInformationResponse'
        "400":
          description: api error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        "404":
          description: no cost information found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - oAuthorization:
        - read:costs
      x-openapi-router-controller: xcube_hub.controllers.cubegens
  /users/{user_id}:
    get:
      tags:
      - users
      summary: Get users
      description: |
        Get user info
      operationId: get_user_by_user_id
      parameters:
      - name: user_id
        in: path
        description: User ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: User information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUserResponse'
        "400":
          description: Api Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        "404":
          description: User not found in the service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - oAuthorization:
        - read:users
      x-openapi-router-controller: xcube_hub.controllers.users
    put:
      tags:
      - users
      summary: Add user
      description: |
        Add user
      operationId: add_user
      parameters:
      - name: user_id
        in: path
        description: User ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: User information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        "200":
          description: User added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUserResponse'
        "400":
          description: Api Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        "404":
          description: User not found in the service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - oAuthorization:
        - create:users
      x-openapi-router-controller: xcube_hub.controllers.users
    delete:
      tags:
      - users
      summary: Delete user
      description: |
        Remove user from a service
      operationId: delete_user_by_user_id
      parameters:
      - name: user_id
        in: path
        description: User ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: User deleted
        "400":
          description: Api Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - oAuthorization:
        - delete:users
      x-openapi-router-controller: xcube_hub.controllers.users
    patch:
      tags:
      - users
      summary: Update user
      description: |
        Update users in a service
      operationId: update_user_by_user_id
      parameters:
      - name: user_id
        in: path
        description: User ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: User information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        "200":
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUserResponse'
        "400":
          description: Api Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - oAuthorization:
        - update:users
      x-openapi-router-controller: xcube_hub.controllers.users
  /users:
    get:
      tags:
      - users
      summary: Get all users by service name
      description: |
        Get all users by service name
      operationId: get_users
      responses:
        "200":
          description: List of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUsersResponse'
        "400":
          description: Api Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        "404":
          description: No users found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - oAuthorization:
        - read:users
      x-openapi-router-controller: xcube_hub.controllers.users
  /cubegens:
    get:
      tags:
      - cubegens
      summary: List cubegens
      description: |
        List user cubegens
      operationId: get_cubegens
      responses:
        "200":
          description: List cubegens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCubegensResponse'
        "400":
          description: Api Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - oAuthorization:
        - read:cubegens
      x-openapi-router-controller: xcube_hub.controllers.cubegens
    put:
      tags:
      - cubegens
      summary: Create a cubegen
      description: |
        Create a jcubegen
      operationId: create_cubegen
      requestBody:
        description: Cubegen configuration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CubegenConfig'
        required: true
      responses:
        "200":
          description: Create a cubegen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCubegenResponse'
        "400":
          description: Api Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - oAuthorization:
        - write:cubegen
      x-openapi-router-controller: xcube_hub.controllers.cubegens
    delete:
      tags:
      - cubegens
      summary: Delete all cubegens
      description: |
        Delete all cubegens
      operationId: delete_cubegens
      responses:
        "200":
          description: OK
        "400":
          description: Api Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - oAuthorization:
        - write:cubegen
      x-openapi-router-controller: xcube_hub.controllers.cubegens
  /cubegens/{cubegen_id}:
    get:
      tags:
      - cubegens
      summary: List specific cubegen
      description: |
        List specific cubegen
      operationId: get_cubegen
      parameters:
      - name: cubegen_id
        in: path
        description: Cubegen ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: User cubegen information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCubegenResponse'
        "400":
          description: Api Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - oAuthorization:
        - read:cubegens
      x-openapi-router-controller: xcube_hub.controllers.cubegens
    delete:
      tags:
      - cubegens
      summary: Delete a cubegen
      description: |
        Delete a cubegen
      operationId: delete_cubegen
      parameters:
      - name: cubegen_id
        in: path
        description: Cubegen ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
        "400":
          description: Api Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - oAuthorization:
        - write:cubegens
      x-openapi-router-controller: xcube_hub.controllers.cubegens
  /cubegens/{cubegen_id}/callbacks:
    get:
      tags:
      - callbacks
      summary: Get list of callbacks for a cubegen
      description: Get list of callbacks for a cubegen
      operationId: get_callbacks_by_cubegen_id
      parameters:
      - name: cubegen_id
        in: path
        description: Cubegen ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCallbacksResponse'
                x-content-type: application/json
        "400":
          description: Api Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - oAuthorization:
        - read:callbacks
      x-openapi-router-controller: xcube_hub.controllers.callbacks
    put:
      tags:
      - callbacks
      summary: Add a callback for a cubegen
      description: Add a callbacks for a cubegen
      operationId: put_callback_by_cubegen_id
      parameters:
      - name: cubegen_id
        in: path
        description: Cubegen ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Callbacks
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Callback'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCallbackResponse'
        "400":
          description: Api Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - oAuthorization:
        - write:callbacks
      x-openapi-router-controller: xcube_hub.controllers.callbacks
    delete:
      tags:
      - callbacks
      summary: Clear callbacks for a cubegen
      description: Clear callbacks for a cubegen
      operationId: delete_callbacks_by_cubegen_id
      parameters:
      - name: cubegen_id
        in: path
        description: Cubegen ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
        "400":
          description: Api Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - oAuthorization:
        - write:callbacks
      x-openapi-router-controller: xcube_hub.controllers.callbacks
  /oauth/token:
    post:
      tags:
      - oauth
      summary: Get authorization token
      description: Get authorization token
      operationId: oauth_token_post
      requestBody:
        description: OauthToken
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthToken'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiOAuthResponse'
        "400":
          description: Api Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        "404":
          description: Client ID not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - oAuthorization:
        - read:oauth_token
      x-openapi-router-controller: xcube_hub.controllers.oauth
components:
  schemas:
    ApiResponse:
      required:
      - message
      type: object
      properties:
        message:
          type: string
        output:
          type: object
    ApiErrorResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - type: object
        properties:
          traceback:
            type: object
    ApiCubegenResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - required:
        - result
        type: object
        properties:
          result:
            $ref: '#/components/schemas/Cubegen'
    ApiUserResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - required:
        - result
        type: object
        properties:
          result:
            $ref: '#/components/schemas/User'
    ApiUsersResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - required:
        - result
        type: object
        properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/User'
    ApiCubegensResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - required:
        - result
        type: object
        properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/Cubegen'
    ApiServiceInformationResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - required:
        - result
        type: object
        properties:
          result:
            $ref: '#/components/schemas/ServiceInformation'
    ApiDatastoresResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - required:
        - result
        type: object
        properties:
          result:
            $ref: '#/components/schemas/Datastore'
    ApiCallbackResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - required:
        - result
        type: object
        properties:
          result:
            $ref: '#/components/schemas/Callback'
    ApiCallbacksResponse:
      allOf:
      - $ref: '#/components/schemas/ApiResponse'
      - required:
        - result
        type: object
        properties:
          result:
            type: array
            items:
              $ref: '#/components/schemas/Callback'
    ApiOAuthResponse:
      required:
      - access_token
      - token_type
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
      example:
        access_token: access_token
        token_type: token_type
    User:
      type: object
      properties:
        user_id:
          type: string
        email:
          type: string
        username:
          type: string
        nickname:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        given_name:
          type: string
        family_name:
          type: string
        app_metadata:
          type: object
        user_metadata:
          type: object
        connection:
          type: string
    ServiceInformation:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        version:
          type: string
        serverStartTime:
          type: string
          format: date-time
        serverCurrentTime:
          type: string
          format: date-time
        serverPID:
          type: integer
        chartVersion:
          type: string
        mockServices:
          type: string
        runLocal:
          type: boolean
    CostConfig:
      allOf:
        - $ref: '#/components/schemas/CubegenConfig'
    CubegenConfig:
      type: object
      required:
        - input_configs
        - cube_config
        - output_config
      properties:
        input_configs:
          type: array
          items:
            type: object
            required:
              - store_id
              - data_id
              - open_params
            properties:
              store_id:
                type: string
              data_id:
                type: string
              open_params:
                type: object
                properties:
                  tile_size:
                    type: array
                    items:
                      type: number
        cube_config:
            type: object
            required:
              - variable_names
              - crs
              - spatial_res
              - bbox
              - time_range
              - time_period
            properties:
              variable_names:
                type: array
                items:
                  type: string
              crs:
                type: string
              spatial_res:
                type: number
              bbox:
                type: array
                items:
                  type: number
                  minItems: 4
                  maxItems: 4
              time_range:
                type: array
                items:
                  type: string
                  format: date
                  minItems: 1
                  maxItems: 2
              time_period:
                type: string
        output_config:
          type: object
          required:
            - store_id
            - store_params
          properties:
            store_id:
              type: string
            store_params:
              type: object
    Cubegen:
      required:
      - cubegen_id
      - status
      type: object
      properties:
        cubegen_id:
          type: string
        status:
          $ref: '#/components/schemas/CubegenStatus'
    Callback:
      required:
      - message
      - status
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        values:
          type: object
        total_work:
          type: number
        worked:
          type: number
    Datastore:
      required:
      - datasets
      - id
      - name
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        datasets:
          type: array
          items:
            $ref: '#/components/schemas/Dataset'
    Dataset:
      required:
      - id
      - name
      - variables
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        variables:
          type: array
          items:
            $ref: '#/components/schemas/Variable'
    Variable:
      required:
      - description
      - dtype
      - id
      - name
      - spatialRes
      - temporalRes
      - units
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        units:
          type: string
        dtype:
          type: string
        spatialRes:
          type: number
        temporalRes:
          type: string
        description:
          type: string
    CubegenStatus:
      required:
      - active
      - completion_time
      - failed
      - start_time
      - succeeded
      type: object
      properties:
        logs:
          type: array
          items:
            type: string
        active:
          type: boolean
        start_time:
          type: string
          format: date-time
        failed:
          type: boolean
        succeeded:
          type: boolean
        completion_time:
          type: string
          format: date-time
    OAuthToken:
      required:
      - audience
      - client_id
      - client_secret
      - grant_type
      type: object
      properties:
        client_id:
          type: string
        client_secret:
          type: string
        audience:
          type: string
        grant_type:
          type: string
  securitySchemes:
    oAuthorization:
      type: oauth2
      description: This API uses OAuth 2 with the implicit grant flow.
      flows:
        implicit:
          authorizationUrl: https://edc.eu.auth0.com/authorize
          scopes:
            read_cubegen: Read cubegen status and result
            submit_cubegen: Submit cubegens to the K8s cluster
            read_punits: Allow reading the punits level of a user
            read_callbacks: Allow reading callbacks
        clientCredentials:
          tokenUrl: https://edc.eu.auth0.com/oauth/token
          scopes:
            read_cubegen: Read cubegen status and result
            read_punits: Allow reading the punits level of a user
            put_punits: Allow adding punits to and remove punits from a user
            read_callbacks: Allow reading callbacks
            put_callbacks: Allow reading callbacks
            delete_callbacks: Allow reading callbacks
      x-tokenInfoFunc: xcube_hub.controllers.authorization.check_oAuthorization
      x-scopeValidateFunc: xcube_hub.controllers.authorization.validate_scope_oAuthorization

